<html>
    <head>
        <title>ciao</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>museo del risorgimento</h1>
        <img src="../../static/img/museo.jpg">
        <div class="center"> 
            <img class="float" src="../../static/img/sola.jpg">
            <img class="float" src="../../static/img/gruppo.jpg">
            <img class="float" src="../../static/img/guida.jpg">
        </div>
    </body>
</html>